<!-- your html code here -->

<div class="container-fluid bg-white px-5">
  
  <div class="row col-12">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente et, aliquam eos facilis incidunt. Magni nostrum atque expedita nobis, voluptate quas optio velit deleniti, dolore nesciunt, ipsa rerum. Error!</p>
  </div>
  <div class="row">

        <div class="card col-12 col-md-4 border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro id exercitationem gravida tiriririir torororo.</p>
            </div>
        </div>

          <div class="card col-12 col-md-4 border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro id exercitationem gravida tiriririir torororo.</p>
            </div>
          </div>

          <div class="card col-12 col-md-4 border-0">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body px-0">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro id exercitationem gravida tiriririir torororo.</p>
            </div>
          </div>
          
  </div>
</div>