<!-- <div class="bg-white row">
    <div class="col-4 container">
        <img src="/website/assets/img/1.jpg" class="w-50 h-100 img-thumbnail rounded-circle" alt="...">
    </div>

    <div class="w-50 h-50 col-8">
        <h6> <strong>The Second Heading</strong> is pretty Cool Too </h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti in, dolorum quas voluptates quisquam eligendi nihil nulla atque sint?!</p>

    </div> -->

    <div class="card mb-3 col-10 w-100" style="padding: 50px;">
        <div class="row g-0">
          <div class="col-md-4 w-25">
            <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> <strong>The Second Heading</strong> Is Pretty Cool Too</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
</div>